#root.root {--tabs-font: 0.95 rem sans-serif;}
#root.root {--tabs-height: 36px;}
#root.root {
  --tabs-margin: 5px;
  --tabs-inner-gap: 8px; /* align text with url */
  --fen-gap: 1px;
  --fen-tab-margin-left: 1px;
}

.top-horizontal-box {
  margin-bottom: 0px;
}

.top-horizontal-box::after {
  content: '';
  height: 8px;
  display: block;
/* when using a theme toggle this on: */
/* background-color: var(--toolbar-bg); */
}

#nav_bar {
  padding-left: 0px;
  padding-right: 0px;
}

/* .main-box {
  padding-top: 4px;
} */

.central-box {
  margin: 0px !important;
}

.main-items {
  padding-left: calc(var(--fen-gap) + 1px);
}

.main-items > .nav-item {
	width: 26px;
	height: 28px;
	margin-top: 1px;
	margin-left: 3px;
}


/* don't allow tab margin to resize width */
.AnimatedTabList > .Tab {
  width: 100%;
  margin-left: 0px; /*override to 0 */
}

.AnimatedTabList > .Tab > div.body > .fav {
  margin-left: calc(9px + var(--fen-gap) - var(--fen-tab-margin-left));
}

.PinnedTabsBar {
  padding: 0px !important;
  margin-left: calc(1px + var(--fen-gap));
  margin-bottom: 6px;
}

.Tab {
  margin-left: var(--fen-tab-margin-left) !important;
  padding-right: calc(2 * var(--fen-tab-margin-left));
}

.BottomBar {
  padding-left: 0px;
  padding-right: 0px;
}